#picker {
    margin-top: 10px;
}

.dropdown{
    text-align: center;
    align-items:center;
}

.slider {
    -webkit-appearance: none;
    margin-top: 20px;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

.table-dark {
    border: 1px solid black;
}

.table-dark tbody{
    color: black;
    background-color: whitesmoke;
}

@media only screen and (max-width: 768px) {
    h4 {
        display: none;
    }
}